

% if foafer.accounts:
    <tr><td class="propLabel">Accounts:</td><td class="propValue">
    <!-- debug
       RDF File: ${request.get('file')}

        Hier eine Parameter Bedingung: &briefaccounts=true

       % if request.get('briefaccounts') == "true":
            briefaccounts
        % endif
    -->
    % for a in foafer.accounts:
        <% 
        if a.get('page'): url = a['page']
        else: url = ''
        %>
        
        <% brief = request.get('briefaccounts') %>
        
        % if a['homepage'].find('del.icio.us') > -1 or a['homepage'].find('delicious') > -1:

            <% if url == '': url = a['homepage'] + str(a['name']) %>
            <% rss = 'http://feeds.delicious.com/v2/rss/' + '?count=15' %>
            ${h.account_block('delicious', a, url, rss, brief)}
            
        % elif a['homepage'].find('bm.doomicile.de') > -1:

            <%  if url == '': url = a['homepage'] + 'bookmarks/' + str(a['name']) %>
            ${h.account_block('doomicile', a, url, url, brief)}

        % elif a['homepage'].find('identi.ca') > -1:

            <%  if url == '': url = a['homepage'] + str(a['name']) %>
            ${h.account_block('identica', a, url, url, brief)}
            
        % elif a['homepage'].find('livejournal') > -1:

            <%  if url == '': url = 'http://' + str(a['name']) + '.livejournal.com' %>
            ${h.account_block('livejournal', a, url, url, brief)}
            
        % elif a['homepage'].find('flickr') > -1:

            <% if url == '': url = a['homepage'] + 'photos/' + str(a['name']) %>
            ${h.account_block('flickr', a, url, url, brief)}
            
        % elif a['homepage'].find('friendfeed') > -1:

            <% if url == '': url = a['homepage'] + str(a['name']) %>
            <% rss = a['homepage'] + str(a['name'])+'?format=atom' %>
            ${h.account_block('friendfeed', a, url, rss, brief)}
               
        % elif a['homepage'].find('twitter.com') > -1:
            <%  if url == '': url = a['homepage'] + str(a['name']) %>
            ${h.account_block('twitter', a, url, url, brief)}

        % elif a['homepage'].find('last.fm') > -1 or	 a['homepage'].find('lastfm') > -1:

            <%  if url == '': url = a['homepage'] + 'user/' + str(a['name']) %>
            <% rss = 'http://ws.audioscrobbler.com/1.0/user/' + str(a['name']) + '/recenttracks.rss' %>
            ${h.account_block('lastfm', a, url, rss, brief)}

        % elif a['homepage'].find('digg.com') > -1:

            <%  if url == '': url = a['homepage'] + 'users/' + str(a['name']) %>            
            ${h.account_block('digg', a, url, None, brief)}            

        % elif a['homepage'].find('scribd') > -1:

            <%  if url == '': url = a['homepage'] + str(a['name']) %>            
            ${h.account_block('scribd', a, url, None, brief)}            

        % elif a['homepage'].find('youtube') > -1:

            ${h.account_block('youtube', a, url, None, brief)}            

        % elif a['homepage'].find('google') > -1:

            ${h.account_block('googlereader', a, url, None, brief)}            

        % elif a['homepage'].find('scribd') > -1:

            ${h.account_block('scribd', a, url, None, brief)}            
   
        % elif a['homepage'].find('goodreads') > -1:

            ${h.account_block('goodreads', a, url, None, brief)}            
 
        % elif a['homepage'].find('stumbleupon') > -1:

            ${h.account_block('stumble', a, url, None, brief)}            

        % elif a['homepage'].find('stackoverflow') > -1:

            ${h.account_block('stackoverflow', a, url, None, brief)}            

        % elif a['homepage'].find('plaxo') > -1:

            ${h.account_block('plaxo', a, url, None, brief)}            

        % elif a['homepage'].find('mybloglog') > -1:

            ${h.account_block('mybloglog', a, url, None, brief)}            

        % elif a['homepage'].find('mendeley') > -1:

            ${h.account_block('mendeley', a, url, None, brief)}            

        % elif a['homepage'].find('jabber.org') > -1:

            ${h.account_block('jabber', a, url, None, brief)}            

        % elif a['homepage'].find('icq.com') > -1:

            ${h.account_block('icq', a, url, None, brief)}            
            
        % elif a['homepage'].find('messenger.msn') > -1:

            ${h.account_block('msn', a, url, None, brief)}            
            
        % elif a['homepage'].find('messenger.yahoo') > -1:

            ${h.account_block('yahoo', a, url, None, brief)}            
            
        % elif a['homepage'].find('technorati') > -1:

            <%  if url == '':  url = a['homepage'] + 'people/' + str(a['name']) %>
            ${h.account_block('technorati', a, url, None, brief)}            

        % elif a['homepage'].find('deviantart') > -1:

            <%  if url == '':  url = 'http://' + str(a['name']) + '.deviantart.com/' %>
            ${h.account_block('deviantart', a, url, None, brief)}            

        % elif a['homepage'].find('linkedin.com') > -1:

            <%  if url == '': url = a['homepage'] + 'profile?viewProfile=&amp;key=' + str(a['name']) %>                
            ${h.account_block('linkedin', a, url, None, brief)}            
            
        % elif a['homepage'].find('slideshare') > -1:

            <%  if url == '': url = a['homepage'] + str(a['name']) %>                
            <% rss = a['homepage'] + 'rss/user/' + str(a['name']) %>
            ${h.account_block('slideshare', a, url, rss, brief)}
            
        % elif a['homepage'].find('backtype') > -1:

            ${h.account_block('backtype', a, url, None, brief)}  

        % elif a['homepage'].find('upcoming') > -1:

            ${h.account_block('upcoming', a, url, None, brief)}    

        % elif a['homepage'].find('wordpess') > -1:

            ${h.account_block('wordpress', a, url, None, brief)}  

        % elif a['homepage'].find('wikipedia') > -1:

            ${h.account_block('wikipedia', a, url, None, brief)}  

        % elif a['homepage'].find('audioscrobbler') > -1:

            ${h.account_block('audioscrobbler', a, url, None, brief)}
            
        % elif a['homepage'].find('skype') > -1:

            ${h.account_block('audioscrobbler', a, url, None, brief)}
            
        % elif a['homepage'].find('bloglines') > -1:

            ${h.account_block('bloglines', a, url, None, brief)}

        % elif a['homepage'].find('myspace') > -1:

            ${h.account_block('myspace', a, url, None, brief)}
            
        % elif a['homepage'].find('plazes') > -1:

            ${h.account_block('plazes', a, url, None, brief)}
            
        % elif a['homepage'].find('friendster') > -1:

            <% if url == '': url = 'http://profiles.friendster.com/' + str(a['name']) %>
            ${h.account_block('friendster', a, url, None, brief)}
            
        % elif a['homepage'].find('openfaq') > -1:

            ${h.account_block('openfaq', a, url, None, brief)}
            
        % elif a['homepage'].find('facebook') > -1:

            ${h.account_block('facebook', a, url, None, brief)}
            
        % elif a['homepage'].find('twoday') > -1:

            ${h.account_block('twoday', a, url, None, brief)}
            
        % else:
            % if brief == 'true':
              <a href="${a['homepage']}">${a['homepage']}</a>,
            % else:
              <a href="${a['homepage']}">${a['homepage']}</a> <i>${a['name']}</i><br/>
            % endif
        % endif
    % endfor    
    </td></tr>
% endif