


<div id="footer" class="ground wide">
    <div class="footer_inner">
        <div style="float:left;width:130px;"><i>FOAFer</i> <a href="/supports">supports</a></div>
        <div style="float:left;width:140px;">What is <a href="http://www.foaf-project.org/">FOAF?</a></div>
        <div style="float:left;width:320px;text-align:center;"><a href="http://github.com/mborho/foafer">Source Code</a> released under <a href="http://www.fsf.org/licensing/licenses/agpl-3.0.html">GNU Affero GPL</a></div>
        <div style="float:right;width:220px;text-align:right;">            
            <i>FOAFer</i> <a href="mailto:martin@borho.net">contact</a>
            <a href="/?file=${'http://www.borho.net/mborho-foaf.rdf'|u}"><img src="/static/images/foafTiny.gif" border="0"/> demo</a>
        </div>
        <br clear="all"/>
    </div>
</div>

<div style="text-align:center;" class="wide">
            <img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif" alt="Powered by Google App Engine"/>    
</div>

</body></html>
